:root {
  --primary-color : #DE970B;
  --secondary-color : #F6BE00;
}
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  height:100%;
  width: 100%;
}
.App {
  height:100%;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 248, 146, 0.527);
  /* background-color: lightgoldenrodyellow; */
}
.App > .AppHeading {
  margin: 0px;
  padding: 20px 0px;
  color: var(--primary-color);
}
.container {
  width: 100%;  
}
.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputTodo {
  width:65%;
  border: 2px solid var(--secondary-color);
  padding:1rem;
  font-size: large;
  border-radius: 0.5rem;
}
.inputTodo:focus{
  outline: 0;
}
.addTodoButton {
  width: fit-content;
  margin-top: 25px;
  font-weight: bold;
  padding: 0.75rem 1.2rem;
  font-size: large;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 0.5rem;
  border-color: var(--secondary-color);
}
.addTodoButton:hover {
  background-color: white;
  color: var(--primary-color);  
}
.todoListContainer {
  margin-top: 50px;
}
.list-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-container > div {
  width : 65%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(248, 255, 219);
  border: 1.5px solid var(--secondary-color);
  border-radius: 0.5rem;
}
.list-item {
  padding : 0rem 1rem;
  color: var(--primary-color);
}
.list-item:focus {
  outline: 0;;
}
.list-deletebutton {
  font-weight: bold;
  padding: 0.75rem 1.2rem;
  font-size: larger;
  background-color: var(--secondary-color);
  color: white;
  border-top-left-radius: 0.5rem;
  border-radius: 0.5rem;
  border-color: var(--secondary-color);
}
.list-deletebutton:hover {
  background-color: white;
  color: var(--primary-color);
}
.saveButton {
  width: fit-content;
  margin-top: 25px;
  margin-right: 25px;
  font-weight: bold;
  padding: 0.75rem 1.2rem;
  font-size: large;
  background-color: lightgoldenrodyellow;
  color: green;
  border-radius: 0.5rem;
  border-color: green;
}
.saveButton:hover {
  background-color: green;
  border-color: green;
  color: white;
}
.loadButton {
  width: fit-content;
  margin-top: 25px;
  margin-left: 25px;
  font-weight: bold;
  padding: 0.75rem 1.2rem;
  font-size: large;
  background-color: lightgoldenrodyellow;
  color: var(--secondary-color);
  border-radius: 0.5rem;
  border-color: var(--secondary-color);
}
.loadButton:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;
}